<%- include('partials/header') -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Opinion Feed</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <h1 class="text-center text-2xl text-purple-700 mt-9">Opinions Feed</h1>
    <br />
    <form class="text-center mb-4">
      <!-- link routes user to opinions page, where they can access the text field and image uploader -->
      <a
        class="
          h-6
          px-6
          m-2
          text-purple-100
          transition-colors
          duration-150
          bg-purple-700
          rounded-lg
          focus:shadow-outline
          hover:bg-purple-800
          py-0.5
        "
        href="/opinions"
        >Post an Opinion</a
      >
      <a
        class="
          h-6
          px-6
          m-2
          text-purple-100
          transition-colors
          duration-150
          bg-purple-700
          rounded-lg
          focus:shadow-outline
          hover:bg-purple-800
          py-0.5
        "
        href="/logout"
        >Logout</a
      >
    </form>
    <ul class="container space-y-5 sm:mx-auto max-w-xl">
      <!-- loops through each opinion and coverts them into their own list items -->
      <% allOpinions.forEach( opinionObj => { %>
      <li
        class="
          opinionItem
          border border-purple-100
          text-purple-700
          rounded-md
          shadow-md
          hover:shadow-lg
          pl-16
          p-4
          ease-linear
          transition
          duration-150
        "
        data-id="<%= opinionObj._id %>"
      >
        <!-- <span><%= opinionObj.userId %></span> -->
        <!-- Add opinion Title element -->
        <span><%= opinionObj.title %></span>
        <!-- Add opinion Username element -->
        <span><%= opinionObj.user %></span>
        <div class="flex flex-col mb-2">
          <img class="img-fluid" src="<%= opinionObj.image %>" />
        </div>
        <div class="justify-center flex flex-row">
          <span><%= opinionObj.opinion %></span>
          <!-- each li is given a thumbs up icon with an event listener. Default 0 likes in the model when the user first posts the item -->
          <span class="fa fa-thumbs-up pl-10 grid"
            ><%= opinionObj.likes %></span
          >
          <span class="fa fa-thumbs-down pl-10 grid"
            ><%= opinionObj.downvotes %></span
          >
        </div>
        <!-- <span class="del far fa-trash-alt px-1"></span> -->
      </li>
      <% }) %>
    </ul>
    <script src="js/main.js"></script>
  </body>
</html>
<!-- Next steps: make delete option only available for the OP -->
