
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opinion</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Opinions</h1>
    <ul>
    <% opinions.forEach( el => { %>
            <li class='opinionItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.opinion %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> Opinions.</h2>

    <form action="/opinions/createOpinion" method='POST'>
        <input type="text" placeholder="Enter Opinion" name='opinionItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>